/* * * * * * * * * * * *
 * General site settings
 */

@import '../variables';

h1,
h2,
h3,
h4,
h5 {
  color: $headers;
}

.text-label {
  color: $label;
  font-weight: bold;
}

.ml-sep {
  margin-left: $sep;
}

/* * * * * * * * * * * *
 * Forms
 */

form {
  label {
    @extend .text-label;
  }

  // Invalid inputs.
  .invalid {
    border-color: red;
  }

  // Validation errors.
  .error {
    color: $danger;
  }
}
