/* * * * * *
 * Variables
 */

@import '../variables';

$nav-background: #222;
$nav-color: #ddd;

.page-layout {
  display: flex;
  margin-right: $page-margin;
  margin-left: $page-margin;
  position: relative;

  .nav-space {
    width: $left-nav-width;
    min-width: $left-nav-width;

    .nav-panel {
      position: fixed;
      top: 0;
      width: $left-nav-width;
      height: 100vh;
      background-color: $nav-background;

      .nav-link {
        color: $nav-color;

        &:hover {
          color: white;
        }
      }
    }
  }

  .content-panel {
    padding-left: $content-padding;
    width: 100%;
  }

}
