/* * * * * *
 * Variables
 */

@import '../variables';

.page-layout {

  display: flex;
  margin-right: $page-margin;
  margin-left: $page-margin;
  position: relative;

  .nav-space {
    width: $left-nav-width;

    .nav-panel {
      background-color: #222;
      height: 100vh;
      position: fixed;
      top: 0;

      .nav-link {
        color: #ddd;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .content-panel {
    margin-left: $content-margin;
    width: 100%;
  }

}
