/* * * * * *
 * Variables
 */

@import '../variables';

$img-height: 25px;

.timer-page {

  .clock-space {
    height: $top-nav-height;

    .clock-face {
      position: fixed;
      top: 0;
      left: calc(#{$page-margin} + #{$left-nav-width});

      display: flex;
      align-items: center;

      width: 100%;
      height: $top-nav-height;
      background-color: white;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);

      #clock-works {
        display: flex;
        padding-left: $content-padding;

        #ticker {
          margin-left: $sep;
        }

        a {
          margin-left: $sep;
          img {
            width: $img-height;
            height: $img-height;
          }
        }

        .align-form {
          display: flex;
          align-items: center;

          input {
            border-style: none;
          }

          input[type=image] {
            width: $img-height;
            height: $img-height;
            margin-left: $sep;
          }
        }
      }
    }
  }
}
