/* * * * * *
 * Variables
 */

@import '../variables';

.timer-page {

  .clock-space {
    height: $top-nav-height;

    .clock-face {
      position: fixed;
      top: 0;
      left: calc(#{$page-margin} + #{$left-nav-width});

      display: flex;
      align-items: center;

      width: 100%;
      height: $top-nav-height;
      background-color: white;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);

      #clock-works {

        display: flex;
        margin-left: $content-margin;

        #ticker {
          margin-left: $sep;
        }

        a, button {
          margin-left: $sep;
        }

        input {
          border-style: none;
        }
      }

    }
  }
}
