/* * * * * *
 * Variables
 */

@import '../variables';

$line-height: 50px;
$line-highlight: #f4f4f4;
$project-height: 2em;
$panel-width: calc(100vw - #{$left-nav-width});
$session-box-size: 30px;
$time-box-size: 60px;
$activity-name-width: 25vw;

.timer-page {

  .project-io {
    display: inline-flex;
    align-items: center;
  }

  .project-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: $sep5;
  }

  input.name-input {
    width: $activity-name-width;
  }

  // The project selection modal.
  #project-select {

    .client-line {
      color: $label;
      height: $project-height;
      margin-top: $sep;
    }

    .project-line {
      display: flex;
      align-items: center;
      border-radius: 0.5em;
      height: $project-height;

      &:hover {
        background-color: $line-highlight;
      }

    }

  }

  // The timer clock at the top of the page.
  .clock-space {
    height: $top-nav-height;

    // The clock stays at the top and does not scroll.
    .top-menu {
      position: fixed;
      top: 0;
      left: $left-nav-width;
      width: $panel-width;
      background-color: white;

      .clock-face {
        width: 100%;
      }

      .timer-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-size: $font-bigger;
      }

      a {
        margin-left: $sep;
      }

      // Session length: 3:05:38
      #ticker {
        margin-left: $sep;
        width: $time-box-size;
      }

      .right-side {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      input {
        border-style: none;
      }

      input[type=image] {
        width: 20px;
        height: 20px;
        margin-left: $sep;
      }
    }
  }

  // The list of recent activities below the clock gets replaced on changes.
  #activity-report {

    // Entire day contains the task lines.
    .all-day {
      border-bottom: 30px solid $line-highlight;
    }

    // Generic line shape.
    %line {
      min-height: $line-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $sep;

    }

    // Date line.
    .day-line {
      @extend %line;
      font-weight: 600;
    }

    // Task or session line.
    .time-line {
      @extend %line;
      box-shadow: rgb(232, 232, 232) 0px -1px 0px 0px inset;

      &:hover {
        background-color: $line-highlight;
      }
    }

    // Empty count box for individual activity sessions.
    .session-box {
      display: inline-flex;
      align-items: center;
      height: $session-box-size;
      width: $session-box-size;
      margin-right: $sep5;
    }

    // Task activity session count box.
    .session-count {
      @extend .session-box;
      justify-content: center;
      color: $label;
      border: 1px solid #ddd;
      border-radius: 25%;
    }

    // Activity name text input.
    input {
      border-style: none;
      background-color: inherit;
      margin-right: $sep;
    }

    // Session length: 3:05:38
    .length-box {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: $sep5; 
      width: $time-box-size;
    }

    // Session times: 12:47 PM - 12:57 PM
    .start-finish {
      display: inline-flex;
      align-items: center;
      color: $label;
    }

    .load-more {
      width: 100%;
      height: 100px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

  }
}
