<% @page_title = "Clock" %>

<iframe
  style="max-width: 600px; width: 100%; height: 200px; border: none"
  src="https://johngorman.io/darkest-night-clock/run/"
></iframe>

<p></p>

<p>
Click the time to control color, brightness, seconds, and date display.
</p>
