<h1>Welcome to Activity Timer</h1>


<div class="welcome-page">

  <script>
    $(() => { $('.jquery-test').html("jQuery is working!") })
  </script>

  <p class="jquery-test">jQuery is not working.</p>

</div>
