<% @page_title = 'Welcome to Activity Timer' %>
<%= render 'layouts/page-top' %>

<div class="welcome-page">

  <script>
    $(() => { $('#jquery-test').html('jQuery is working!') })
  </script>

  <p id="jquery-test" class="text-primary">jQuery is not working.</p>

</div>
