<% @page_title = 'Projects' %>
<%= render 'layouts/page-top' %>

<div class="table-responsive">

  <table class="table">
    <tr>
      <th>Client - Project</th>
    </tr>

    <% @projects.order('updated_at desc').each do |project| %>
      <tr>
        <td>
          <%= project_links(project) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
