<% @page_title = 'Projects' %>

<table class="table">
  <tr>
    <th>Client - Project</th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td>
        <%= project_links(project) %>
      </td>
    </tr>
  <% end %>
</table>
