DB_ADAPTER: postgresql
production:
  DATABASE_URL: postgresql://rails:rails123@localhost/activity_timer_prod

# DB_ADAPTER: mysql2
# production:
#   DATABASE_URL: mysql2://rails:rails123@localhost/activity_timer_prod
