<% @page_title = 'Timer' %>

<div class="timer-page">

  <div class="clock-space">
    <div id="clock-face" class="clock-face">
      <%= render 'clock_face' %>
    </div>
  </div>

  <div id="activity-report">
    <%= render 'activity_report' %>
  </div>

</div>
