<% @page_title = 'Timer' %>

<div class="timer-page">

  <div class="timer-spacer">
    <div class="timer-face">
      <%= render 'timer' %>
    </div>
  </div>

  <div class="timer-container">
  </div>

  <%= render 'report' %>

</div>
