// Site variables.

$headers: #aaaaaa;
$label: $headers;

$logo-gold: #ffd700;
$logo-red: #ff0000;
$logo-green: #00bb00;
$logo-blue: #6666ff;

$sep: 10px;
$sep2: calc(#{$sep} * 2);
$sep5: calc(#{$sep} / 2);

$left-nav-width: 90px;
$top-nav-height: 70px;

// Customize Bootstrap variables.
$secondary: $headers;
$link-color: #555555;

// Recompile Bootstrap using the customized variables.
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Direct links for debugging: "$ scss variables.scss"
// @import '../../../node_modules/bootstrap/scss/functions';
// @import '../../../node_modules/bootstrap/scss/variables';
// @debug 'color("body") is #{color("body")}';
