// Site variables.

$headers: #aaaaaa;
$label: $headers;

$left-nav-width: 90px;
$top-nav-height: 90px;
$page-margins: 0.5rem;

// Customize Bootstrap variables.
$secondary: $headers;
$link-color: #555555;

// Recompile Bootstrap using the customized variables.
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Direct links for debugging: "$ scss variables.scss"
// @import '../../../node_modules/bootstrap/scss/functions';
// @import '../../../node_modules/bootstrap/scss/variables';
// @debug 'color("body") is #{color("body")}';
