<% @page_title = 'All Activities' %>
<%= render 'layouts/page-top' %>

<div class="table-responsive">

  <table class="table">
    <tr>
      <th>Name</th>
    </tr>

    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to(project.client.name, client_path(project.client)) %> -
          <%= link_to(project.name, project_path(project)) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
