<div class="top-banner">

  <div id="particles-js"
    data-controller="particles"
    data-particles-config="<%= {
    particles: {
      number: {
        value: 20,
        density: {
          value_area: 200,
        },
      },
      shape: {
        type: 'image',
        image: {
          src: image_path('jg-logo-50x50.png')
        },
      },
      size: {
        value: 10,
        random: true,
      },
      move: {
        speed: 1,
      },
    },
    interactivity: {
      events: {
        onhover: {
          mode: 'repulse',
        },
      },
      modes: {
        repulse: {
          distance: 50,
        },
      },
    },
    }.to_json %>"
  >

    <div id="logo-jgio">
      <a href="/">
        <%= image_pack_tag 'jg-logo.svg', id: 'logo' %>
        <span class="hostname">johngorman</span
      ><span class="dot">.</span
      ><span class="cc">io</span>
      </a>
    </div>

    <div id="user-info">
      <%# current_user && current_user.email %>
    </div>

    <div id="banner-title">
      Activity Timer
    </div>

  </div>

</div>
